.left-section{
    width: 55%;
}

.bestclass,
.aiclass,
.newclass{
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.item-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.item-wrap1{
    margin-bottom: 30px;
}

.item-wrap2{
    display: none;
    width: 100%;
}

.item-wrap{
    width: 100%;
    /* overflow: hidden; */
}

.class-item{
    overflow: hidden;
    transition: 0.3s;
    width: calc((100% - 60px) / 2);
    height: auto;
}

.class-item:hover{
    transform: translateY(-10px);
}

.class-box{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    overflow: hidden;
}

.class-item .class-count{
    color: #acdbc4;
    font-weight: 700;
    margin-bottom: 5px;
}

.class-item .class-count i{
    transform: rotate(-15deg);
    margin-right: 5px;
}

.class-item .class-count span{
    font-size: 25px;
    margin-right: 5px;
    font-weight: 900;
    color: #5de29f;
}

.class-item .class-txt{
    /* background-color: aqua; */
    margin-top: 5px;
    height: 120px;
    position: relative;
}

.class-item .class-txt .class-price{
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.class-item .class-txt .class-teacher{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    font-weight: 700;
    opacity: 0.5;
}

.bestclass-title,
.goodclass-title,
.aiclass-title,
.newclass-title{
    font-weight: 700;
    margin-bottom: 30px;
    align-items: baseline;
}

.bestclass-title span,
.goodclass-title span,
.aiclass-title > span,
.newclass-title span{
    font-size: 20px;
    display: inline;
    margin-right: 10px;
    color: #aeb3a6;
}

.bestclass-title p,
.goodclass-title p,
.aiclass-title p,
.newclass-title p{
    font-size: 35px;
    display: inline;
}

.bestclass .plus,
.aiclass .plus,
.newclass .plus{
    position: absolute;
    right: 20px;
    top: 20px;
}

.plus i{
    margin-left: 5px;
    transition: 0.3s;
}

.plus:hover i{
    transform: translateX(3px);
}

.class-type {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50px;
}

.class-ranking{
    position: absolute;
    font-family: 'SBAggroB';
    font-size: 100px;
    font-weight: 900;
    line-height: 50px;
    bottom: 0;
    left: -10px;
    color: #111;
    padding-left: 20px;
    /* background: linear-gradient(0deg, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0) 100%); */
    border-radius: 0 0 10px 10px;
    text-shadow: -1px 0 #ededdf, 0 1px #ededdf, 1px 0 #ededdf, 0 -1px #ededdf;
}

.class-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 40%;
    margin: 0 auto;
    background-color: #242423;
    text-align: center;
    padding: 7px 0;
    border-radius: 50px;
    transition: 0.2s;
    cursor: pointer;
    margin-top: 30px;
}

.class-plus:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.7), 0 10px 10px rgba(0,0,0,0.67);
    background-color: #3f3417;
}

.class-type.baking{
    background-color: rgb(255, 94, 0);
}

.class-type.drawing{
    background-color: rgb(0, 17, 255);
}

.class-type.craft{
    background-color: rgb(89, 0, 255);
}

.class-type.lifestyle{
    background-color: rgb(33, 150, 52);
}

.class-type.sport{
    background-color: rgb(255, 0, 55);
}

.class-type.music{
    background-color: rgb(83, 50, 0);
}

.class-type.cook{
    background-color: rgb(0, 119, 255);
}

/* aiclass */
/* newclass */

/* 반응형 */
@media all and (max-width: 1024px) {
    .bestclass-title p,
    .goodclass-title p,
    .aiclass-title p,
    .newclass-title p{
        font-size: 28px;
    }
    .bestclass-title span,
    .goodclass-title span,
    .aiclass-title span,
    .newclass-title span{
        font-size: 17px;
        margin-right: 5px;
    }
    .class-ranking{
        font-size: 70px;
        line-height: 40px;
    }
    .class-type {
        padding: 1px 6px;
        font-size: 13px;
    }
    .class-item .class-count {
        margin-top: 6px;
        font-size: 14px;
    }
    .class-item .class-count span {
        font-size: 20px;
        margin-right: 3px;
    }
    .class-item .class-txt {
        font-size: 14px;
    }
    .item-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
}
/* mobile */
@media all and (max-width: 800px) {
    .bestclass-title,
    .goodclass-title,
    .aiclass-title,
    .newclass-title{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .bestclass-title span,
    .goodclass-title span,
    .aiclass-title > span,
    .newclass-title span{
        font-size: 17px;
        margin-right: 8px;
    }
    .bestclass-title p,
    .goodclass-title p,
    .aiclass-title p,
    .newclass-title p{
        font-size: 30px;
    }
    .plus{
        font-size: 14px;
    }
    .item-box{
        flex-direction: column;
    }
    .class-item{
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
    }
    .class-box{
        padding-bottom: 35%;
    }
    .class-item .class-txt{
        margin: 0;
        height: auto;
        width: 100%;
    }
}
@media all and (max-width: 768px) {
    .inner {
        flex-direction: column;
    }
    .left-section{
        width: 100%;
    }
    .right-section{
        width: 100%;
    }
    .class-item .class-count{
        font-size: 3vw;
    }
    
    .class-item .class-count i{
        margin-right: 5px;
    }
    
    .class-item .class-count span{
        font-size: 4vw;
        font-weight: 900;
        color: #5de29f;
    }
    .class-item .class-txt p{
        font-size: 2vw;
        font-weight: 700;
    }
    
}
@media all and (max-width: 480px){
    .class-item{
        height: 150px;
        width: 200px;
        border-radius: 15px;
    }
    .class-box .class-txt{
        height: 60px;
        padding: 8px 10px 5px;
        font-size: 12px;
    }
    .class-type {
        padding: 2px 6px;
        font-size: 12px;
    }
    .bestclass-title,
    .goodclass-title span,
    .aiclass-title > span,
    .newclass-title span{
        font-size: 15px;
    }
    .bestclass-title,
    .goodclass-title p,
    .aiclass-title p,
    .newclass-title p{
        font-size: 25px;
    }
    .bestclass .plus,
    .aiclass .plus,
    .newclass .plus{
        font-size: 12px;
        top: 40px;
    }
}