.tip{
    margin-top: 200px;
}
.tip-title{
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.tip-logo{
    width: 40%;
}
.tip-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
.tip-cate{
    width: 100%; 
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    gap: 30px;
}
.tip-cate a{
    background-color: #d3d8cb;
    color: #d3d8cb;
    border-radius: 20px; 
    transition: all 0.3s;
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}
.tip-cate a span{
    font-size: 23px;
    font-weight: 900;
    top: 0;
    position: absolute;
}
.tip-cate a img{
    z-index: 1;
    width: auto;
    height: auto;
}
.grouptip img{
    border-radius: 20px;
}
.tip-cate a:hover{
    background-color: #4f524f;
}
.tip-cate span{
    font-size: 23px;
}
.tip-sub-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%
}
.tip-sub-title span{
    text-align: left;
    font-size: 16px;
}
.tip-sub-title span:first-child{
    font-weight: 900;
    margin-bottom: 10px;
}
.tip-sub-title span:last-child{
    opacity: 0.6;
}
@media all and (max-width:1024px){
    .tip-title{
        margin-bottom: 30px;
    }
    .tip-title span{
        font-size: 25px;
    }
    .tip-cate a{
        padding: 25px;
    }
    .tip-cate a span{
        font-size: 30px;
    }
    .tip-sub-title span:first-child{
        font-size: 20px;
    }
    .tip-sub-title span:last-child{
        font-size: 14px;
    }
}
@media all and (max-width:768px){
    .tip-logo{
        width: 25%;
    }
    .tip-title span{
        font-size: 30px;
    }
    .tip-cate{
        flex-direction: row;
    }
    .tip-cate a{
        padding: 25px;
    }
    .tip-cate a span{
        font-size: 18px;
    }
    .tip-sub-title span:first-child{
        font-size: 20px;
    }
    .tip-sub-title span:last-child{
        font-size: 14px;
    }
    .tip-sub-title{
        width: 50%;
        justify-content: center;
        align-items: center;
        line-height: 50px;
    }
}
@media all and (max-width:690px){
    .tip-title span{
        font-size: 30px;
    }
    .tip-cate a{
        padding: 25px;
    }
    .tip-cate a span{
        font-size: 20px;
    }
    .grouptip img{
        border-radius: 15px;
    }
    .tip-sub-title span:first-child{
        font-size: 15px;
    }
    .tip-sub-title span:last-child{
        font-size: 12px;
    }
}
@media all and (max-width:480px){
    .tip-title{
        font-size: 26px;
        width: 100%;
        flex-wrap: wrap;
    }
    .tip-logo{
        width: 40%;
        height: auto;
    }
    .tip-title span{
        font-size: 27px;
    }
    .tip-inner{
        width: 100%;
        flex-direction: column;
    }
    .tip-cate{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .tip-cate a{
        width: 50%;
        padding: 25px;
    }
    .tip-sub-title{
        width: 50%;
        justify-content: center;
        align-items: center;
        line-height: 23px;
    }
}